{
  "extends": [
    "@integreat-app/eslint-config-jest",
    "@integreat-app/eslint-config-flow",
    "@integreat-app/eslint-config-react",
    "@integreat-app/eslint-config-babel"
  ],
  "rules": {
    "react/jsx-closing-tag-location":  "off",
    "react/jsx-closing-bracket-location": "off",
    "react/jsx-first-prop-new-line": "off",
    "react/jsx-handler-names": "off",
    "react/jsx-tag-spacing": ["error", {
      "closingSlash": "never",
      "beforeSelfClosing": "never",
      "afterOpening": "never",
      "beforeClosing": "never"
    }]
  },
  "globals": {
    "__DEV__": false,
    "__VERSION__": false,
    "__CONFIG__": false
  }
}
